#header-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#main-btn {
  font-family: 'Yatra One', cursive;
  color: rgb(153, 91, 215);
  font-size: 36px;
  height: 60px;
  padding: 5px;
  padding-left: 15px;
  border: none;
  background: none;
}

#main-btn:hover {
  cursor: pointer;
}

main {
  font-family: 'Manrope', sans-serif;
}

#header-bar-buttons,
#connect-btns {
  display: flex;
}

#header-bar-buttons button {
  font-family: 'Manrope', sans-serif;
  color: rgb(153, 91, 215);
  margin: 10px;
  margin-top: 23px;
  border: none;
  background: none;
}

#header-bar-buttons button:hover {
  color: rebeccapurple;
  cursor: pointer;
}

#dwnld-btn:hover {
  background-color: rebeccapurple;
  cursor: pointer;
}

#header-name {
  font-family: 'Yatra One', cursive;
  color: rgb(153, 91, 215);
  font-size: 36px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

#work-page {
  font-family: 'Manrope', sans-serif;
  text-align: center;
}

#first {
  height: 430px;
}

#firstp {
  color: rebeccapurple;
}


#first{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#first p {
  margin: 5px;
}

#projects section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects {
  align-items: center;
  background-color: lavender;
  margin: auto;
}

#projects h1 {
  padding-top: 40px;
  font-size: 48px;
  margin-bottom: 20px;
}

#projects section {
  margin: auto;
  width: 1020px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 30px;
}

#projects article {
  background-color: white !important;
  margin: 20px;
  width: 300px;
  height: 300px;
  /*transition: transform .2s;*/
}

#projects article:hover {
  transform: scale(1.1);
  transition: transform .2s;
  cursor: pointer;
}

#projects img {
  max-width: 240px;
  max-height: 200px;
}

#work-page p {
  font-size: 24px;
}

#work-page div {
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  height: 520px;
}

#winter-research-page {
  background-color: lavender;
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 40px;
}

#winter-research-page h2,
#winter-research-page h4 {
  text-align: center;
}

#winter-research-page h2 {
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 0px;
}

#winter-research-page p {
  font-size: 20px;
}

#husky-guide-page section,
#objectives-ft p,
#objectives-gc p{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
  font-size: 20px;
}

#takeaways-ft p,
#process-gc p,
#takeaways-gc {
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px;
  padding-bottom: 30px;
}

#family-tree-page h2,
#hg-title,
#gallery-curator-page h2 {
  font-size: 44px;
  text-align: center;
  color: rebeccapurple;
}

#husky-guide-page h4,
#objectives-ft h4,
#process-ft h4,
#takeaways-ft h4,
#objectives-gc h4,
#process-gc h4,
#takeaways-gc h4 {
  font-size: 30px;
  text-align: center;
}

.alternating {
  background-color: lavender;
  padding: 30px;
}

#overview-ft,
#process-ft,
#overview-gc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#overview-ft article,
#process-ft article,
#overview-gc article {
  width: 500px;
  font-size: 20px;
}

#overview-ft h4,
#process-ft h4,
#overview-gc h4 {
  font-size: 28px;
  margin-bottom: 0px;
}

#overview-ft img,
#overview-gc img {
  width: 500px;
  height: 300px;
}

#process-ft img {
  height: 500px;
}

#image-gc {
  display: flex;
  justify-content: center;
}

#takeaways-gc img {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  border: 25px solid white;
}

#gallery-curator-page button {
  margin-top: 50px;
}

iframe,
#dwnld-btn,
#gotft-btn {
  display: block;
  margin: auto;
}

iframe {
  margin-top: 40px;
  width: 830px;
  height: 1180px;
}

#dwnld-btn,
#gotft-btn {
  font-family: 'Manrope', sans-serif;
  background-color: rgb(153, 91, 215);
  color: white;
  border: none;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 35px;
  height: 40px;
}

#dwnld-btn:hover,
#gotft-btn:hover {
  cursor: pointer;
}

a:link, a:hover, a:active a:visited {
  text-decoration: none;
}

#abtme-page {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
}

#abtme-alpha > article,
#overview-ft > article,
#overview-gc > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  background-color: lavender;
}

#abtme-alpha p {
  text-align: center;
  margin-top: 5px;
  margin: 20px;
}

#abtme-alpha h2 {
  font-size: 30px;
}

#abtme-alpha,
#abtme-charlie {
  display: flex;
  justify-content: space-around;
}

#abtme-alpha img,
#abtme-charlie img {
  max-width: 300px;
  margin: 60px;
}

#abtme-beta {
  margin: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: lavender;
}

#abtme-charlie {
  margin-top: 0px;
}

#abtme-charlie p {
  background-color: lavender;
  text-align: center;
  margin: 50px;
  padding: 20px;
  padding-top: 120px;
}

footer {
  margin-top: 40px;
}

footer img {
  height: 45px;
  width: 45px;
  margin: 2px;
}

#footer-bar p {
  font-family: 'Manrope', sans-serif;
  color: rgb(153, 91, 215);
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 15px;
}

#footer-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

#footer-bar img {
  transition: transform .2s;
}

#footer-bar img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#icon-citation {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  color: lavender;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 20px;
}

#icon-citation a:link,
#icon-citation a:hover,
#icon-citation a:active,
#icon-citation a:visited {
  color: lavender;
}

#icon-citation p {
  text-align: right;
  margin: 0px;
}