main {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  height: 450px;
}

#header-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#main-btn {
  font-family: 'Yatra One', cursive;
  color: rgb(153, 91, 215);
  font-size: 36px;
  height: 60px;
  padding: 5px;
  padding-left: 15px;
  border: none;
  background: none;
}

#main-btn:hover {
  cursor: pointer;
}

#header-bar-buttons,
#connect-btns {
  display: flex;
}

#header-bar-buttons button {
  font-family: 'Manrope', sans-serif;
  color: rgb(153, 91, 215);
  margin: 10px;
  border: none;
  background: none;
}

#header-bar-buttons button:hover {
  color: rebeccapurple;
  cursor: pointer;
}

#header-name {
  font-family: 'Yatra One', cursive;
  color: rgb(153, 91, 215);
  font-size: 36px;
  margin-top: 5px;
}

a:link, a:hover, a:active a:visited {
  text-decoration: none;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: rebeccapurple;
}

article {
  background-color: lavender;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
}

h3 {
  text-align: center;
  margin-top: 0px;
}

code {
  display: block;
}

footer {
  margin-top: 40px;
}

footer img {
  height: 45px;
  width: 45px;
  margin: 2px;
}

#footer-bar p {
  font-family: 'Manrope', sans-serif;
  color: rgb(153, 91, 215);
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 15px;
}

#footer-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

#footer-bar img {
  transition: transform .2s;
}

#footer-bar img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#icon-citation {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  color: lavender;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 20px;
}

#icon-citation a:link,
#icon-citation a:hover,
#icon-citation a:active,
#icon-citation a:visited {
  color: lavender;
}

#icon-citation p {
  text-align: right;
  margin: 0px;
}