main {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
}

#header-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#main-btn {
  font-family: 'Yatra One', cursive;
  color: rgb(153, 91, 215);
  font-size: 36px;
  height: 60px;
  padding: 5px;
  padding-left: 15px;
  border: none;
  background: none;
}

#main-btn:hover {
  cursor: pointer;
}

#header-bar-buttons,
#connect-btns {
  display: flex;
}

#header-bar-buttons button {
  font-family: 'Manrope', sans-serif;
  color: rgb(153, 91, 215);
  margin: 10px;
  margin-top: 23px;
  border: none;
  background: none;
}

#header-bar-buttons button:hover {
  color: rebeccapurple;
  cursor: pointer;
}

#header-name {
  font-family: 'Yatra One', cursive;
  color: rgb(153, 91, 215);
  font-size: 36px;
  margin-top: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.ddcontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
}

.ddcontent a {
  font-family: 'Manrope', sans-serif;
  color: rgb(153, 91, 215);
  text-align: center;
  font-size: 12px;
  padding: 12px 16px;
  margin-top: 0px;
  text-decoration: none;
  display: block;
}

.ddcontent a:hover {background-color: #ddd;}

.dropdown:hover .ddcontent {
  display: block;
}

h2 {
  font-size: 44px;
  text-align: center;
  color: rebeccapurple;
}

#objectives p{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
  font-size: 20px;
}

#future {
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px;
  padding-bottom: 30px;
}

h4 {
  font-size: 30px;
  text-align: center;
}

#overview,
#dev-process {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
  font-size: 20px;
}

#dev-process {
  display: flex;
  flex-direction: column;
}

#dev-process > div > p {
  margin-bottom: 50px;
}

#dev-images {
  display: flex;
  justify-content: space-between;
}

#dev-images img {
  max-width: 350px;
  border: 10px black solid;
}

#dev-images p {
  text-align: center;
}

#css-transition div {
  display: flex;
  justify-content: space-between;
}

#css-transition div p {
  width: 500px;
}

.alternating {
  background-color: lavender;
  padding: 30px;
}

a:link, a:hover, a:active a:visited {
  text-decoration: none;
}

footer {
  margin-top: 40px;
}

footer img {
  height: 45px;
  width: 45px;
  margin: 2px;
}

#footer-bar p {
  font-family: 'Manrope', sans-serif;
  color: rgb(153, 91, 215);
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 15px;
}

#footer-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

#footer-bar img:hover {
  transition: transform .2s;
  transform: scale(1.1);
  cursor: pointer;
}

#icon-citation {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  color: lavender;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 20px;
}

#icon-citation a:link,
#icon-citation a:hover,
#icon-citation a:active,
#icon-citation a:visited {
  color: lavender;
}

#icon-citation p {
  text-align: right;
  margin: 0px;
}